@charset "utf-8";
/* CSS Document */

	 #Baotrang{
		 background-color:#FFF; 
		 width:960px;
		  height:1200px; 
		 border:1px solid black;
		 float:left;
	 }
	 #Đautrang{
		 width:100%; 
		 height:200px; 
			 float:left;
		 }
	.Thantrang{
		width:100%;
		 height:800px;
		   border:1px solid black;
		}
		
		.Bentrai{
		width:680px; 
		height:100%; 
	 float:left;
		}
	 .Benphai{
			width:278px;
			 height:100%;
			  float:left;
		}	
		#Cuoitrang{
			background-color:#039;
			width:100%;
			height:200px;
			float:left;
			color:#fff;
		}
	